$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #fff;
$font-color: #000;
$border-color: #000;
$hover-color: #e8e8e8;

body {
  background-color: $background-color;
  color: $font-color;
  text-align: center;
}

.box {
  border: 1px solid $border-color;
}

.col-xs-4 {
  height: 11vw;
  width: 14vw;
}

.col-xs-4:hover {
  background-color: $hover-color;
}

.container {
  margin-bottom: 10%;
}

.row {
  font-size: 100px;
  text-align: center;
  margin: 0 18%;
}

@media (max-width: 1030px) {
  .col-xs-4 {
    height: 14vw;
    width: 14vw;
}

  .row {
    font-size: 70px;
}
 }

@media (max-width: 550px) {
  .row {
    font-size: 35px;
 }
  }
