$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #fff;
$font-color: #000;
$border-color: #000;
$hover-color: #e1f8f3;
$messagebanner-color: #1190c9;
$message-color: #fff;
$titlebanner-color: #c5e5fa;

body {
  background-color: $background-color;
  color: $font-color;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  background-color: $titlebanner-color;
  color: $font-color;
  font-family: 'Pacifico', cursive;
  font-weight: 600;
  padding: 10px 0;
}

.box {
  border: 1px solid $border-color;
}

.col-xs-4 {
  height: 10.7vw;
  width: 10.7vw;
  font-weight: bolder;
  // max-width: 200px;
  // max-height: 200px;
  // height: 100%;
  // width: 100%;
}

// .col-md-4 {
//   height: 11vw;
//   width: 11vw;
// }

.col-xs-4:hover {
  background-color: $hover-color;
}

.gameArea {
  margin: 0 23.7%;
  margin-bottom: 7%;
  max-width: 1300px;
  text-align: center;
}

.game{
  font-size: 100px;
  text-align: center;
}

.reset {
  margin: 8px 0;
}

.message {
  background-color: $messagebanner-color;
  color: $message-color;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 7px;
  padding: 7px;
}

@media (min-width: 1000px) {
  h1 {
    font-size: 60px;
  }
}

@media (max-width: 1550px) {
  .gameArea {
    font-size: 35px;
    margin: 0 0% 0 20%;
  }
 }

@media (max-width: 1130px) {
  .col-xs-4 {
    height: 15vw;
    width: 15vw;
}

  .game {
    font-size: 70px;
}
 }

@media (max-width: 550px) {
  .game {
    font-size: 35px;
 }
 .gameArea {
   margin-bottom: 1%;
  //  margin: 0 5%
 }
  }

@media (max-width: 400px) {
  .game {
    font-size: 25px;
    margin: 0 5%;
 }
  .col-xs-4 {
    height: 19vw;
    width: 19vw;
}
  .gameArea {
    margin: 0 3%;
  }

  }

.toggle {
  font-size: 14px;
}

.hidden {
  display: none;
}

.unhidden {
  display: block;
}

.signOutButton {
  margin: auto;
}

.gameSelector {
  display: inline;
  margin: auto;
}
